<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Mu.sic </title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class = "submit-page">
    <header class = "submit-header">
        <div class = "logo">
            <img src="/public/images/Logo.png" alt="logo">
        </div>
    </header>
    <main>
        <div class = "submit-wrapper">
            <p class = "submit-title">SIGN IN</p>
            <form action ="" id="formvalidate">
                <div class = "form-group">
                    <label for = "email" class = "input-label">Email</label><br>
                    <input type = "text" id = "email" name="email" class = "input-field" placeholder="Enter your email.." required>
                </div>
                <div class = "form-group">
                    <label for = "password" class = "input-label">Password</label><br>
                    <input type = "password" id = "password" name="password" class = "input-field" placeholder="Enter your password.." required>
                </div>
                <button type = "submit" class="submit-btn">SIGN IN</button>
            </form>
            <div id="separator"></div>
            <p id="signup-link" class="clickable-text">Create New Account</p>
        </div>
    </main>

    
</body>
</html>